{
    "CN": "system:node-bootstrapper",
    "hosts": [
      "127.0.0.1",
      "{{ ansible_host }}"
    ],
    "key": {
      "algo": "rsa",
      "size": 2048
    },
    "names": [
      {
        "C": "KE",
        "L": "Nairobi",
        "ST": "Nairobi",
        "O": "system:node-bootstrapper",
        "OU": "System"
      }
    ]
}